USE [master]
GO
/****** Object:  Database [RESTAURANT]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE DATABASE [RESTAURANT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RESTAURANT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\RESTAURANT.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RESTAURANT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\RESTAURANT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RESTAURANT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RESTAURANT]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 03/12/2025 2:23:11 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[OrderCode] [varchar](50) NULL,
	[OrderTime] [datetime] NOT NULL,
	[CompletedTime] [datetime] NULL,
	[Note] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[TableID] [int] NULL,
	[CustomerID] [int] NULL,
	[StatusID] [int] NOT NULL,
	[CashierID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatus]    Script Date: 03/12/2025 2:23:11 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatus](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusCode] [varchar](50) NOT NULL,
	[StatusName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branches]    Script Date: 03/12/2025 2:23:11 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branches](
	[BranchID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Location] [nvarchar](500) NULL,
	[ManagerName] [nvarchar](100) NULL,
	[Phone] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[OpeningHours] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[RestaurantID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BranchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiningTables]    Script Date: 03/12/2025 2:23:11 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiningTables](
	[TableID] [int] IDENTITY(1,1) NOT NULL,
	[NumberOfSeats] [int] NOT NULL,
	[CurrentOrderID] [int] NULL,
	[QRCode] [varchar](200) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[BranchID] [int] NOT NULL,
	[StatusID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 03/12/2025 2:23:11 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[PhoneNumber] [varchar](20) NOT NULL,
	[Email] [varchar](100) NULL,
	[Gender] [nvarchar](10) NULL,
	[DateOfBirth] [date] NULL,
	[Address] [nvarchar](500) NULL,
	[LoyaltyPoints] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[IsActive] [bit] NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[CreditPoints] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ActiveOrders]    Script Date: 03/12/2025 2:23:11 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ActiveOrders] AS
SELECT 
    o.OrderID,
    o.OrderCode,
    o.OrderTime,
    c.Name AS CustomerName,
    c.PhoneNumber,
    dt.NumberOfSeats AS TableSeats,
    os.StatusName,
    b.Name AS BranchName
FROM Orders o
LEFT JOIN Customers c ON o.CustomerID = c.CustomerID
LEFT JOIN DiningTables dt ON o.TableID = dt.TableID
LEFT JOIN OrderStatus os ON o.StatusID = os.StatusID
LEFT JOIN Branches b ON dt.BranchID = b.BranchID
WHERE o.IsActive = 1;
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 03/12/2025 2:23:11 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[DisplayOrder] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dishes]    Script Date: 03/12/2025 2:23:11 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dishes](
	[DishID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Price] [decimal](15, 2) NOT NULL,
	[Available] [bit] NULL,
	[Image] [varchar](500) NULL,
	[Description] [nvarchar](max) NULL,
	[Unit] [nvarchar](50) NULL,
	[IsVegetarian] [bit] NULL,
	[IsDailySpecial] [bit] NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[CategoryID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DishID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[DishDetails]    Script Date: 03/12/2025 2:23:11 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- View: Thông tin món ăn và danh mục
CREATE VIEW [dbo].[DishDetails] AS
SELECT 
    d.DishID,
    d.Name AS DishName,
    d.Price,
    d.Available,
    d.IsVegetarian,
    d.IsDailySpecial,
    c.Name AS CategoryName,
    c.CategoryID
FROM Dishes d
INNER JOIN Categories c ON d.CategoryID = c.CategoryID
WHERE d.IsActive = 1 AND d.Available = 1;
GO
/****** Object:  Table [dbo].[Bills]    Script Date: 03/12/2025 2:23:11 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bills](
	[BillID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[BillCode] [nvarchar](50) NOT NULL,
	[BillTime] [datetime] NOT NULL,
	[Subtotal] [decimal](18, 2) NOT NULL,
	[Discount] [decimal](18, 2) NOT NULL,
	[PointsDiscount] [decimal](18, 2) NOT NULL,
	[PointsUsed] [int] NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[PaymentMethod] [nvarchar](20) NOT NULL,
	[PaymentAmount] [decimal](18, 2) NULL,
	[ChangeAmount] [decimal](18, 2) NULL,
	[EmployeeID] [int] NULL,
	[CustomerID] [int] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[BranchRevenue]    Script Date: 03/12/2025 2:23:11 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- View: Thống kê doanh thu theo chi nhánh
CREATE VIEW [dbo].[BranchRevenue] AS
SELECT 
    b.BranchID,
    b.Name AS BranchName,
    COUNT(DISTINCT o.OrderID) AS TotalOrders,
    SUM(bill.TotalAmount - bill.Discount) AS TotalRevenue,
    CAST(o.OrderTime AS DATE) AS OrderDate
FROM Branches b
LEFT JOIN DiningTables dt ON b.BranchID = dt.BranchID
LEFT JOIN Orders o ON dt.TableID = o.TableID
LEFT JOIN Bills bill ON o.OrderID = bill.OrderID
WHERE o.IsActive = 1
GROUP BY b.BranchID, b.Name, CAST(o.OrderTime AS DATE);
GO
/****** Object:  Table [dbo].[LoyaltyCards]    Script Date: 03/12/2025 2:23:11 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoyaltyCards](
	[CardID] [int] IDENTITY(1,1) NOT NULL,
	[Points] [int] NULL,
	[IssueDate] [date] NOT NULL,
	[ExpiryDate] [date] NULL,
	[IsActive] [bit] NULL,
	[CustomerID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CardID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[CustomerLoyalty]    Script Date: 03/12/2025 2:23:11 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- View: Thông tin khách hàng và điểm thưởng
CREATE VIEW [dbo].[CustomerLoyalty] AS
SELECT 
    c.CustomerID,
    c.Name,
    c.PhoneNumber,
    c.Email,
    c.LoyaltyPoints,
    lc.CardID,
    lc.Points AS CardPoints,
    lc.IssueDate,
    lc.ExpiryDate
FROM Customers c
LEFT JOIN LoyaltyCards lc ON c.CustomerID = lc.CustomerID
WHERE c.IsActive = 1;
GO
/****** Object:  Table [dbo].[TableStatus]    Script Date: 03/12/2025 2:23:11 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableStatus](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusCode] [varchar](50) NOT NULL,
	[StatusName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[TableNumbers]    Script Date: 03/12/2025 2:23:11 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Tạo view mới
CREATE VIEW [dbo].[TableNumbers] AS
SELECT 
    dt.TableID,
    dt.BranchID,
    b.Name AS BranchName,
    ROW_NUMBER() OVER (PARTITION BY dt.BranchID ORDER BY dt.TableID) AS TableNumber,
    dt.NumberOfSeats,
    dt.QRCode,
    ts.StatusName,
    dt.CurrentOrderID,
    dt.IsActive
FROM DiningTables dt
INNER JOIN Branches b ON dt.BranchID = b.BranchID
INNER JOIN TableStatus ts ON dt.StatusID = ts.StatusID;
GO
/****** Object:  Table [dbo].[CategoryDish]    Script Date: 03/12/2025 2:23:11 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryDish](
	[CategoryDishID] [int] IDENTITY(1,1) NOT NULL,
	[DisplayOrder] [int] NULL,
	[IsAvailable] [bit] NULL,
	[Note] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[MenuCategoryID] [int] NOT NULL,
	[DishID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryDishID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DishIngredients]    Script Date: 03/12/2025 2:23:11 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DishIngredients](
	[DishIngredientID] [int] IDENTITY(1,1) NOT NULL,
	[DishID] [int] NOT NULL,
	[IngredientID] [int] NOT NULL,
	[QuantityPerDish] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DishIngredientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeRoles]    Script Date: 03/12/2025 2:23:11 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeRoles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleCode] [varchar](50) NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 03/12/2025 2:23:11 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[Phone] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[Salary] [decimal](15, 2) NULL,
	[Shift] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[BranchID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingredients]    Script Date: 03/12/2025 2:23:11 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredients](
	[IngredientID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Unit] [nvarchar](50) NOT NULL,
	[CurrentStock] [decimal](18, 2) NOT NULL,
	[ReorderLevel] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IngredientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuCategory]    Script Date: 03/12/2025 2:23:11 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuCategory](
	[MenuCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[IsActive] [bit] NULL,
	[MenuID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MenuCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 03/12/2025 2:23:11 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[MenuID] [int] IDENTITY(1,1) NOT NULL,
	[MenuName] [nvarchar](200) NOT NULL,
	[Date] [date] NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[BranchID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MenuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItemIngredients]    Script Date: 03/12/2025 2:23:11 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItemIngredients](
	[OrderItemIngredientID] [int] IDENTITY(1,1) NOT NULL,
	[OrderItemID] [int] NOT NULL,
	[IngredientID] [int] NOT NULL,
	[Quantity] [decimal](18, 3) NOT NULL,
	[IsRemoved] [bit] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemIngredientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 03/12/2025 2:23:11 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](15, 2) NOT NULL,
	[LineTotal] [decimal](15, 2) NOT NULL,
	[Note] [nvarchar](max) NULL,
	[OrderID] [int] NOT NULL,
	[DishID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordResetTokens]    Script Date: 03/12/2025 2:23:11 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResetTokens](
	[TokenID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[Token] [varchar](255) NOT NULL,
	[ExpiryDate] [datetime] NOT NULL,
	[IsUsed] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TokenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethod]    Script Date: 03/12/2025 2:23:11 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethod](
	[MethodID] [int] IDENTITY(1,1) NOT NULL,
	[MethodCode] [varchar](50) NOT NULL,
	[MethodName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MethodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 03/12/2025 2:23:11 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[Amount] [decimal](15, 2) NOT NULL,
	[Date] [datetime] NOT NULL,
	[OrderID] [int] NOT NULL,
	[CustomerID] [int] NULL,
	[MethodID] [int] NOT NULL,
	[StatusID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentStatus]    Script Date: 03/12/2025 2:23:11 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentStatus](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusCode] [varchar](50) NOT NULL,
	[StatusName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reports]    Script Date: 03/12/2025 2:23:11 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reports](
	[ReportID] [int] IDENTITY(1,1) NOT NULL,
	[ReportType] [nvarchar](100) NOT NULL,
	[GeneratedDate] [datetime] NOT NULL,
	[Content] [nvarchar](max) NULL,
	[FilePath] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Restaurants]    Script Date: 03/12/2025 2:23:11 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Restaurants](
	[RestaurantID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Address] [nvarchar](500) NULL,
	[Description] [nvarchar](max) NULL,
	[Phone] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RestaurantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Branches] ON 

INSERT [dbo].[Branches] ([BranchID], [Name], [Location], [ManagerName], [Phone], [Email], [OpeningHours], [IsActive], [CreatedAt], [UpdatedAt], [RestaurantID]) VALUES (1, N'Chi nhánh Quận 1', N'123 Nguyễn Huệ, Quận 1, TP.HCM', N'Nguyễn Văn A', N'0901234567', N'quan1@selfrestaurant.com', N'7:00 - 22:00', 1, CAST(N'2025-11-16T00:22:27.327' AS DateTime), CAST(N'2025-11-16T00:22:27.327' AS DateTime), 1)
INSERT [dbo].[Branches] ([BranchID], [Name], [Location], [ManagerName], [Phone], [Email], [OpeningHours], [IsActive], [CreatedAt], [UpdatedAt], [RestaurantID]) VALUES (2, N'Chi nhánh Gò Vấp', N'456 Quang Trung, Gò Vấp, TP.HCM', N'Trần Thị B', N'0907654321', N'govap@selfrestaurant.com', N'7:00 - 22:00', 1, CAST(N'2025-11-16T00:22:27.327' AS DateTime), CAST(N'2025-11-16T00:22:27.327' AS DateTime), 1)
INSERT [dbo].[Branches] ([BranchID], [Name], [Location], [ManagerName], [Phone], [Email], [OpeningHours], [IsActive], [CreatedAt], [UpdatedAt], [RestaurantID]) VALUES (3, N'Chi nhánh Bình Thạnh', N'789 Điện Biên Phủ, Bình Thạnh, TP.HCM', N'Lê Văn C', N'0909876543', N'binhthanh@selfrestaurant.com', N'7:00 - 22:00', 1, CAST(N'2025-11-16T00:22:27.327' AS DateTime), CAST(N'2025-11-16T00:22:27.327' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Branches] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [Name], [Description], [DisplayOrder], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, N'Món chính', N'Các món ăn chính', 1, 1, CAST(N'2025-11-16T00:22:27.327' AS DateTime), CAST(N'2025-11-16T00:22:27.327' AS DateTime))
INSERT [dbo].[Categories] ([CategoryID], [Name], [Description], [DisplayOrder], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (2, N'Món phụ', N'Các món ăn phụ', 2, 1, CAST(N'2025-11-16T00:22:27.327' AS DateTime), CAST(N'2025-11-16T00:22:27.327' AS DateTime))
INSERT [dbo].[Categories] ([CategoryID], [Name], [Description], [DisplayOrder], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (3, N'Tráng miệng', N'Các món tráng miệng', 3, 1, CAST(N'2025-11-16T00:22:27.327' AS DateTime), CAST(N'2025-11-16T00:22:27.327' AS DateTime))
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[CategoryDish] ON 

INSERT [dbo].[CategoryDish] ([CategoryDishID], [DisplayOrder], [IsAvailable], [Note], [CreatedAt], [UpdatedAt], [MenuCategoryID], [DishID]) VALUES (1, 1, 1, NULL, CAST(N'2025-11-16T00:22:27.327' AS DateTime), CAST(N'2025-11-16T00:22:27.327' AS DateTime), 1, 1)
INSERT [dbo].[CategoryDish] ([CategoryDishID], [DisplayOrder], [IsAvailable], [Note], [CreatedAt], [UpdatedAt], [MenuCategoryID], [DishID]) VALUES (2, 2, 1, NULL, CAST(N'2025-11-16T00:22:27.327' AS DateTime), CAST(N'2025-12-03T00:09:31.713' AS DateTime), 1, 2)
INSERT [dbo].[CategoryDish] ([CategoryDishID], [DisplayOrder], [IsAvailable], [Note], [CreatedAt], [UpdatedAt], [MenuCategoryID], [DishID]) VALUES (3, 3, 1, NULL, CAST(N'2025-11-16T00:22:27.327' AS DateTime), CAST(N'2025-11-16T00:22:27.327' AS DateTime), 1, 3)
GO
SET IDENTITY_INSERT [dbo].[CategoryDish] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [Name], [PhoneNumber], [Email], [Gender], [DateOfBirth], [Address], [LoyaltyPoints], [CreatedAt], [UpdatedAt], [IsActive], [Username], [Password], [CreditPoints]) VALUES (1, N'Nguyễn Thị Lan', N'0912345678', N'lan.nguyen@gmail.com', N'Nữ', CAST(N'1990-05-15' AS Date), N'123 Lê Lợi, Q1, TP.HCM', 1200, CAST(N'2025-11-16T00:22:27.330' AS DateTime), CAST(N'2025-12-02T16:09:30.853' AS DateTime), 1, N'lan.nguyen', N'123456', 0)
INSERT [dbo].[Customers] ([CustomerID], [Name], [PhoneNumber], [Email], [Gender], [DateOfBirth], [Address], [LoyaltyPoints], [CreatedAt], [UpdatedAt], [IsActive], [Username], [Password], [CreditPoints]) VALUES (2, N'Trần Văn Minh', N'0987654321', N'minh.tran@gmail.com', N'Nam', CAST(N'1985-08-20' AS Date), N'456 Trần Hưng Đạo, Q5, TP.HCM', 850, CAST(N'2025-11-16T00:22:27.330' AS DateTime), CAST(N'2025-12-02T16:10:17.183' AS DateTime), 1, N'minh.tran', N'123456', 0)
INSERT [dbo].[Customers] ([CustomerID], [Name], [PhoneNumber], [Email], [Gender], [DateOfBirth], [Address], [LoyaltyPoints], [CreatedAt], [UpdatedAt], [IsActive], [Username], [Password], [CreditPoints]) VALUES (3, N'Phạm Thị Hoa', N'0909123456', N'hoa.pham@gmail.com', N'Nữ', CAST(N'1995-12-10' AS Date), N'789 Nguyễn Trãi, Q1, TP.HCM', 500, CAST(N'2025-11-16T00:22:27.330' AS DateTime), CAST(N'2025-11-19T23:32:53.157' AS DateTime), 1, N'hoa.pham', N'123456', 0)
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[DiningTables] ON 

INSERT [dbo].[DiningTables] ([TableID], [NumberOfSeats], [CurrentOrderID], [QRCode], [IsActive], [CreatedAt], [UpdatedAt], [BranchID], [StatusID]) VALUES (1, 2, NULL, N'QR-Q1-B01', 1, CAST(N'2025-11-19T22:50:17.630' AS DateTime), CAST(N'2025-12-03T01:03:59.107' AS DateTime), 1, 1)
INSERT [dbo].[DiningTables] ([TableID], [NumberOfSeats], [CurrentOrderID], [QRCode], [IsActive], [CreatedAt], [UpdatedAt], [BranchID], [StatusID]) VALUES (2, 2, NULL, N'QR-Q1-B02', 1, CAST(N'2025-11-19T22:50:17.630' AS DateTime), CAST(N'2025-11-19T22:50:17.630' AS DateTime), 1, 1)
INSERT [dbo].[DiningTables] ([TableID], [NumberOfSeats], [CurrentOrderID], [QRCode], [IsActive], [CreatedAt], [UpdatedAt], [BranchID], [StatusID]) VALUES (3, 2, NULL, N'QR-Q1-B03', 1, CAST(N'2025-11-19T22:50:17.630' AS DateTime), CAST(N'2025-11-19T22:50:17.630' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[DiningTables] OFF
GO
SET IDENTITY_INSERT [dbo].[Dishes] ON 

INSERT [dbo].[Dishes] ([DishID], [Name], [Price], [Available], [Image], [Description], [Unit], [IsVegetarian], [IsDailySpecial], [IsActive], [CreatedAt], [UpdatedAt], [CategoryID]) VALUES (1, N'Phở Bò Đặc Biệt', CAST(75000.00 AS Decimal(15, 2)), 1, N'/Images/dish_20251203014802250.jpg', N'Phở bò truyền thống Hà Nội với nước dùng hầm xương 12 tiếng', N'Tô', 0, 1, 1, CAST(N'2025-11-16T00:22:27.327' AS DateTime), CAST(N'2025-12-03T01:48:02.257' AS DateTime), 1)
INSERT [dbo].[Dishes] ([DishID], [Name], [Price], [Available], [Image], [Description], [Unit], [IsVegetarian], [IsDailySpecial], [IsActive], [CreatedAt], [UpdatedAt], [CategoryID]) VALUES (2, N'Bún Chả Hà Nội', CAST(60000.00 AS Decimal(15, 2)), 1, N'/Images/dish_20251203014435075.jpg', N'Bún chả đặc sản Hà Nội với chả nướng than hồng', N'Phần', 0, 1, 1, CAST(N'2025-11-16T00:22:27.327' AS DateTime), CAST(N'2025-12-03T01:44:35.080' AS DateTime), 1)
INSERT [dbo].[Dishes] ([DishID], [Name], [Price], [Available], [Image], [Description], [Unit], [IsVegetarian], [IsDailySpecial], [IsActive], [CreatedAt], [UpdatedAt], [CategoryID]) VALUES (3, N'Cơm Sườn Bì Chả', CAST(65000.00 AS Decimal(15, 2)), 1, N'/Images/dish_20251203014504150.jpg', N'Cơm sườn bì chả truyền thống Sài Gòn', N'Phần', 0, 0, 1, CAST(N'2025-11-16T00:22:27.327' AS DateTime), CAST(N'2025-12-03T01:45:04.157' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Dishes] OFF
GO
SET IDENTITY_INSERT [dbo].[DishIngredients] ON 

INSERT [dbo].[DishIngredients] ([DishIngredientID], [DishID], [IngredientID], [QuantityPerDish]) VALUES (1, 1, 1, CAST(0.20 AS Decimal(18, 2)))
INSERT [dbo].[DishIngredients] ([DishIngredientID], [DishID], [IngredientID], [QuantityPerDish]) VALUES (2, 1, 21, CAST(0.30 AS Decimal(18, 2)))
INSERT [dbo].[DishIngredients] ([DishIngredientID], [DishID], [IngredientID], [QuantityPerDish]) VALUES (3, 1, 7, CAST(0.05 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[DishIngredients] OFF
GO
SET IDENTITY_INSERT [dbo].[EmployeeRoles] ON 

INSERT [dbo].[EmployeeRoles] ([RoleID], [RoleCode], [RoleName]) VALUES (1, N'ADMIN', N'Quản trị viên')
INSERT [dbo].[EmployeeRoles] ([RoleID], [RoleCode], [RoleName]) VALUES (2, N'MANAGER', N'Quản lý')
INSERT [dbo].[EmployeeRoles] ([RoleID], [RoleCode], [RoleName]) VALUES (3, N'CASHIER', N'Thu ngân')
SET IDENTITY_INSERT [dbo].[EmployeeRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [Name], [Username], [Password], [Phone], [Email], [Salary], [Shift], [IsActive], [CreatedAt], [UpdatedAt], [BranchID], [RoleID]) VALUES (1, N'Admin User', N'admin', N'123456', N'0901111111', N'admin@selfrestaurant.com', CAST(20000000.00 AS Decimal(15, 2)), N'Full-time', 1, CAST(N'2025-11-16T00:22:27.330' AS DateTime), CAST(N'2025-12-03T02:02:51.607' AS DateTime), 1, 1)
INSERT [dbo].[Employees] ([EmployeeID], [Name], [Username], [Password], [Phone], [Email], [Salary], [Shift], [IsActive], [CreatedAt], [UpdatedAt], [BranchID], [RoleID]) VALUES (2, N'Quản lý Q1', N'manager_q1', N'123456', N'0902222222', N'manager.q1@selfrestaurant.com', CAST(15000000.00 AS Decimal(15, 2)), N'Full-time', 1, CAST(N'2025-11-16T00:22:27.330' AS DateTime), CAST(N'2025-11-16T00:22:27.330' AS DateTime), 1, 2)
INSERT [dbo].[Employees] ([EmployeeID], [Name], [Username], [Password], [Phone], [Email], [Salary], [Shift], [IsActive], [CreatedAt], [UpdatedAt], [BranchID], [RoleID]) VALUES (3, N'Thu ngân Lan', N'cashier_lan', N'123456', N'0903333333', N'lan.cashier@selfrestaurant.com', CAST(8000000.00 AS Decimal(15, 2)), N'Morning', 1, CAST(N'2025-11-16T00:22:27.330' AS DateTime), CAST(N'2025-12-03T01:33:54.293' AS DateTime), 1, 3)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Ingredients] ON 

INSERT [dbo].[Ingredients] ([IngredientID], [Name], [Unit], [CurrentStock], [ReorderLevel], [IsActive]) VALUES (1, N'Thịt bò', N'kg', CAST(50.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Ingredients] ([IngredientID], [Name], [Unit], [CurrentStock], [ReorderLevel], [IsActive]) VALUES (2, N'Thịt gà', N'kg', CAST(40.00 AS Decimal(18, 2)), CAST(8.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Ingredients] ([IngredientID], [Name], [Unit], [CurrentStock], [ReorderLevel], [IsActive]) VALUES (3, N'Thịt heo', N'kg', CAST(45.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[Ingredients] OFF
GO
SET IDENTITY_INSERT [dbo].[LoyaltyCards] ON 

INSERT [dbo].[LoyaltyCards] ([CardID], [Points], [IssueDate], [ExpiryDate], [IsActive], [CustomerID]) VALUES (1, 1200, CAST(N'2024-01-01' AS Date), CAST(N'2025-12-31' AS Date), 1, 1)
INSERT [dbo].[LoyaltyCards] ([CardID], [Points], [IssueDate], [ExpiryDate], [IsActive], [CustomerID]) VALUES (2, 850, CAST(N'2024-01-15' AS Date), CAST(N'2025-12-31' AS Date), 1, 2)
INSERT [dbo].[LoyaltyCards] ([CardID], [Points], [IssueDate], [ExpiryDate], [IsActive], [CustomerID]) VALUES (3, 500, CAST(N'2024-02-01' AS Date), CAST(N'2025-12-31' AS Date), 1, 3)
SET IDENTITY_INSERT [dbo].[LoyaltyCards] OFF
GO
SET IDENTITY_INSERT [dbo].[MenuCategory] ON 

INSERT [dbo].[MenuCategory] ([MenuCategoryID], [CreatedAt], [UpdatedAt], [IsActive], [MenuID], [CategoryID]) VALUES (1, CAST(N'2025-11-16T00:22:27.327' AS DateTime), CAST(N'2025-11-16T00:22:27.327' AS DateTime), 1, 1, 1)
INSERT [dbo].[MenuCategory] ([MenuCategoryID], [CreatedAt], [UpdatedAt], [IsActive], [MenuID], [CategoryID]) VALUES (2, CAST(N'2025-11-16T00:22:27.327' AS DateTime), CAST(N'2025-11-16T00:22:27.327' AS DateTime), 1, 1, 2)
INSERT [dbo].[MenuCategory] ([MenuCategoryID], [CreatedAt], [UpdatedAt], [IsActive], [MenuID], [CategoryID]) VALUES (3, CAST(N'2025-11-16T00:22:27.327' AS DateTime), CAST(N'2025-11-16T00:22:27.327' AS DateTime), 1, 1, 3)
SET IDENTITY_INSERT [dbo].[MenuCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[Menus] ON 

INSERT [dbo].[Menus] ([MenuID], [MenuName], [Date], [IsActive], [CreatedAt], [UpdatedAt], [BranchID]) VALUES (1, N'Menu Quận 1 - 18/11/2025', CAST(N'2025-11-18' AS Date), 1, CAST(N'2025-11-16T00:22:27.327' AS DateTime), CAST(N'2025-11-18T14:40:22.713' AS DateTime), 1)
INSERT [dbo].[Menus] ([MenuID], [MenuName], [Date], [IsActive], [CreatedAt], [UpdatedAt], [BranchID]) VALUES (2, N'Menu Gò Vấp - 18/11/2025', CAST(N'2025-11-18' AS Date), 1, CAST(N'2025-11-16T00:22:27.327' AS DateTime), CAST(N'2025-11-18T14:40:22.713' AS DateTime), 2)
INSERT [dbo].[Menus] ([MenuID], [MenuName], [Date], [IsActive], [CreatedAt], [UpdatedAt], [BranchID]) VALUES (3, N'Menu Bình Thạnh - 18/11/2025', CAST(N'2025-11-18' AS Date), 1, CAST(N'2025-11-16T00:22:27.327' AS DateTime), CAST(N'2025-11-18T14:40:22.713' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[Menus] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItemIngredients] ON 

INSERT [dbo].[OrderItemIngredients] ([OrderItemIngredientID], [OrderItemID], [IngredientID], [Quantity], [IsRemoved], [CreatedAt], [UpdatedAt]) VALUES (1, 78, 29, CAST(0.020 AS Decimal(18, 3)), 0, CAST(N'2025-12-03T01:38:02.917' AS DateTime), CAST(N'2025-12-03T01:38:02.920' AS DateTime))
INSERT [dbo].[OrderItemIngredients] ([OrderItemIngredientID], [OrderItemID], [IngredientID], [Quantity], [IsRemoved], [CreatedAt], [UpdatedAt]) VALUES (2, 78, 30, CAST(0.050 AS Decimal(18, 3)), 0, CAST(N'2025-12-03T01:38:02.933' AS DateTime), CAST(N'2025-12-03T01:38:02.933' AS DateTime))
INSERT [dbo].[OrderItemIngredients] ([OrderItemIngredientID], [OrderItemID], [IngredientID], [Quantity], [IsRemoved], [CreatedAt], [UpdatedAt]) VALUES (3, 78, 16, CAST(0.020 AS Decimal(18, 3)), 1, CAST(N'2025-12-03T01:38:02.933' AS DateTime), CAST(N'2025-12-03T01:38:02.933' AS DateTime))
SET IDENTITY_INSERT [dbo].[OrderItemIngredients] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([ItemID], [Quantity], [UnitPrice], [LineTotal], [Note], [OrderID], [DishID]) VALUES (78, 1, CAST(40000.00 AS Decimal(15, 2)), CAST(40000.00 AS Decimal(15, 2)), N'Không đường', 30, 16)
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderStatus] ON 

INSERT [dbo].[OrderStatus] ([StatusID], [StatusCode], [StatusName]) VALUES (1, N'PENDING', N'Chờ xử lý')
INSERT [dbo].[OrderStatus] ([StatusID], [StatusCode], [StatusName]) VALUES (2, N'CONFIRMED', N'Đã xác nhận')
INSERT [dbo].[OrderStatus] ([StatusID], [StatusCode], [StatusName]) VALUES (3, N'PREPARING', N'Đang chuẩn bị')
SET IDENTITY_INSERT [dbo].[OrderStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[PasswordResetTokens] ON 

INSERT [dbo].[PasswordResetTokens] ([TokenID], [CustomerID], [Token], [ExpiryDate], [IsUsed], [CreatedAt]) VALUES (1, 9, N'D16WbOq4LBmcb_Xeytug-OZ9aI253vpT9JcESXVr_KY', CAST(N'2025-11-30T14:42:11.777' AS DateTime), 1, CAST(N'2025-11-30T14:12:11.777' AS DateTime))
INSERT [dbo].[PasswordResetTokens] ([TokenID], [CustomerID], [Token], [ExpiryDate], [IsUsed], [CreatedAt]) VALUES (2, 9, N'N6fvMkSJBfy3nDAVpfxT6P0TDBRsaX1k3_4gIFyLXjQ', CAST(N'2025-11-30T14:45:24.070' AS DateTime), 0, CAST(N'2025-11-30T14:15:24.070' AS DateTime))
INSERT [dbo].[PasswordResetTokens] ([TokenID], [CustomerID], [Token], [ExpiryDate], [IsUsed], [CreatedAt]) VALUES (3, 9, N'W4EXpTVp9eXvTgWsYTv0w9Dsv0G8_7FeFD_-mK2HwUM', CAST(N'2025-11-30T14:47:07.797' AS DateTime), 0, CAST(N'2025-11-30T14:17:07.797' AS DateTime))
SET IDENTITY_INSERT [dbo].[PasswordResetTokens] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentMethod] ON 

INSERT [dbo].[PaymentMethod] ([MethodID], [MethodCode], [MethodName]) VALUES (1, N'CASH', N'Tiền mặt')
INSERT [dbo].[PaymentMethod] ([MethodID], [MethodCode], [MethodName]) VALUES (2, N'CARD', N'Thẻ tín dụng/ghi nợ')
INSERT [dbo].[PaymentMethod] ([MethodID], [MethodCode], [MethodName]) VALUES (3, N'MOMO', N'Ví MoMo')
SET IDENTITY_INSERT [dbo].[PaymentMethod] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentStatus] ON 

INSERT [dbo].[PaymentStatus] ([StatusID], [StatusCode], [StatusName]) VALUES (1, N'PENDING', N'Chờ thanh toán')
INSERT [dbo].[PaymentStatus] ([StatusID], [StatusCode], [StatusName]) VALUES (2, N'COMPLETED', N'Đã thanh toán')
INSERT [dbo].[PaymentStatus] ([StatusID], [StatusCode], [StatusName]) VALUES (3, N'FAILED', N'Thanh toán thất bại')
SET IDENTITY_INSERT [dbo].[PaymentStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Reports] ON 

INSERT [dbo].[Reports] ([ReportID], [ReportType], [GeneratedDate], [Content], [FilePath]) VALUES (1, N'Doanh thu ngày', CAST(N'2025-11-18T14:22:31.620' AS DateTime), N'Tổng doanh thu hôm nay: 1,059,500 VNĐ. Chi nhánh Quận 1 đóng góp nhiều nhất.', N'/reports/daily_20251118.pdf')
INSERT [dbo].[Reports] ([ReportID], [ReportType], [GeneratedDate], [Content], [FilePath]) VALUES (2, N'Món ăn bán chạy', CAST(N'2025-11-18T14:22:31.620' AS DateTime), N'Top 3 món bán chạy: 1) Phở Bò (8 phần), 2) Cơm Sườn (6 phần), 3) Bún Chả (5 phần)', N'/reports/bestsellers_20251118.pdf')
INSERT [dbo].[Reports] ([ReportID], [ReportType], [GeneratedDate], [Content], [FilePath]) VALUES (3, N'Báo cáo nhân viên', CAST(N'2025-11-18T14:22:31.620' AS DateTime), N'Tổng số nhân viên: 10. Tất cả đang hoạt động bình thường.', N'/reports/staff_20251118.pdf')
SET IDENTITY_INSERT [dbo].[Reports] OFF
GO
SET IDENTITY_INSERT [dbo].[Restaurants] ON 

INSERT [dbo].[Restaurants] ([RestaurantID], [Name], [Address], [Description], [Phone], [Email], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, N'Self Restaurant', N'Thành phố Hồ Chí Minh', N'Chuỗi nhà hàng tự phục vụ chất lượng cao', N'0281234567', N'info@selfrestaurant.com', 1, CAST(N'2025-11-16T00:22:27.323' AS DateTime), CAST(N'2025-11-16T00:22:27.323' AS DateTime))
SET IDENTITY_INSERT [dbo].[Restaurants] OFF
GO
SET IDENTITY_INSERT [dbo].[TableStatus] ON 

INSERT [dbo].[TableStatus] ([StatusID], [StatusCode], [StatusName]) VALUES (1, N'AVAILABLE', N'Có sẵn')
INSERT [dbo].[TableStatus] ([StatusID], [StatusCode], [StatusName]) VALUES (2, N'OCCUPIED', N'Đang sử dụng')
INSERT [dbo].[TableStatus] ([StatusID], [StatusCode], [StatusName]) VALUES (3, N'RESERVED', N'Đã đặt trước')
SET IDENTITY_INSERT [dbo].[TableStatus] OFF
GO
/****** Object:  Index [IX_Bills_BillTime]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [IX_Bills_BillTime] ON [dbo].[Bills]
(
	[BillTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bills_OrderID]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [IX_Bills_OrderID] ON [dbo].[Bills]
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_branches_active]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [idx_branches_active] ON [dbo].[Branches]
(
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_branches_restaurant]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [idx_branches_restaurant] ON [dbo].[Branches]
(
	[RestaurantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_categories_active]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [idx_categories_active] ON [dbo].[Categories]
(
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_categories_display]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [idx_categories_display] ON [dbo].[Categories]
(
	[DisplayOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_categories_name]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [idx_categories_name] ON [dbo].[Categories]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_categorydish_dish]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [idx_categorydish_dish] ON [dbo].[CategoryDish]
(
	[DishID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_categorydish_display]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [idx_categorydish_display] ON [dbo].[CategoryDish]
(
	[DisplayOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_categorydish_menucategory]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [idx_categorydish_menucategory] ON [dbo].[CategoryDish]
(
	[MenuCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Customers_Username]    Script Date: 03/12/2025 2:23:11 SA ******/
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [UQ_Customers_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_customers_active]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [idx_customers_active] ON [dbo].[Customers]
(
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_customers_email]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [idx_customers_email] ON [dbo].[Customers]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_customers_phone]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [idx_customers_phone] ON [dbo].[Customers]
(
	[PhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_customers_username]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [idx_customers_username] ON [dbo].[Customers]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Customer_Username]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Customer_Username] ON [dbo].[Customers]
(
	[Username] ASC
)
WHERE ([Username] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_diningtables_branch]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [idx_diningtables_branch] ON [dbo].[DiningTables]
(
	[BranchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_diningtables_status]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [idx_diningtables_status] ON [dbo].[DiningTables]
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_dishes_active]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [idx_dishes_active] ON [dbo].[Dishes]
(
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_dishes_available]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [idx_dishes_available] ON [dbo].[Dishes]
(
	[Available] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_dishes_category]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [idx_dishes_category] ON [dbo].[Dishes]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_dishes_name]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [idx_dishes_name] ON [dbo].[Dishes]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__D62CB59C25E8707A]    Script Date: 03/12/2025 2:23:11 SA ******/
ALTER TABLE [dbo].[EmployeeRoles] ADD UNIQUE NONCLUSTERED 
(
	[RoleCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__536C85E46A8B3547]    Script Date: 03/12/2025 2:23:11 SA ******/
ALTER TABLE [dbo].[Employees] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_employees_active]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [idx_employees_active] ON [dbo].[Employees]
(
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_employees_branch]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [idx_employees_branch] ON [dbo].[Employees]
(
	[BranchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_employees_role]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [idx_employees_role] ON [dbo].[Employees]
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_employees_username]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [idx_employees_username] ON [dbo].[Employees]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_loyaltycards_active]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [idx_loyaltycards_active] ON [dbo].[LoyaltyCards]
(
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_loyaltycards_customer]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [idx_loyaltycards_customer] ON [dbo].[LoyaltyCards]
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [unique_menu_category]    Script Date: 03/12/2025 2:23:11 SA ******/
ALTER TABLE [dbo].[MenuCategory] ADD  CONSTRAINT [unique_menu_category] UNIQUE NONCLUSTERED 
(
	[MenuID] ASC,
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_menucategory_category]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [idx_menucategory_category] ON [dbo].[MenuCategory]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_menucategory_menu]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [idx_menucategory_menu] ON [dbo].[MenuCategory]
(
	[MenuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_menus_active]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [idx_menus_active] ON [dbo].[Menus]
(
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_menus_branch]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [idx_menus_branch] ON [dbo].[Menus]
(
	[BranchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_menus_date]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [idx_menus_date] ON [dbo].[Menus]
(
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_OrderItemIngredients_OrderItem_Ingredient]    Script Date: 03/12/2025 2:23:11 SA ******/
ALTER TABLE [dbo].[OrderItemIngredients] ADD  CONSTRAINT [UQ_OrderItemIngredients_OrderItem_Ingredient] UNIQUE NONCLUSTERED 
(
	[OrderItemID] ASC,
	[IngredientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItemIngredients_OrderItemID]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [IX_OrderItemIngredients_OrderItemID] ON [dbo].[OrderItemIngredients]
(
	[OrderItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_orderitems_dish]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [idx_orderitems_dish] ON [dbo].[OrderItems]
(
	[DishID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_orderitems_order]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [idx_orderitems_order] ON [dbo].[OrderItems]
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Orders__999B52291ED657E9]    Script Date: 03/12/2025 2:23:11 SA ******/
ALTER TABLE [dbo].[Orders] ADD UNIQUE NONCLUSTERED 
(
	[OrderCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_orders_code]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [idx_orders_code] ON [dbo].[Orders]
(
	[OrderCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_orders_customer]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [idx_orders_customer] ON [dbo].[Orders]
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_orders_status]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [idx_orders_status] ON [dbo].[Orders]
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_orders_table]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [idx_orders_table] ON [dbo].[Orders]
(
	[TableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_orders_time]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [idx_orders_time] ON [dbo].[Orders]
(
	[OrderTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__OrderSta__6A7B44FC0D92A760]    Script Date: 03/12/2025 2:23:11 SA ******/
ALTER TABLE [dbo].[OrderStatus] ADD UNIQUE NONCLUSTERED 
(
	[StatusCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_customer]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [idx_customer] ON [dbo].[PasswordResetTokens]
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_token]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [idx_token] ON [dbo].[PasswordResetTokens]
(
	[Token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PaymentM__11E9210D5D748E8C]    Script Date: 03/12/2025 2:23:11 SA ******/
ALTER TABLE [dbo].[PaymentMethod] ADD UNIQUE NONCLUSTERED 
(
	[MethodCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_payments_customer]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [idx_payments_customer] ON [dbo].[Payments]
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_payments_date]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [idx_payments_date] ON [dbo].[Payments]
(
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_payments_order]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [idx_payments_order] ON [dbo].[Payments]
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_payments_status]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [idx_payments_status] ON [dbo].[Payments]
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PaymentS__6A7B44FC4CF1A484]    Script Date: 03/12/2025 2:23:11 SA ******/
ALTER TABLE [dbo].[PaymentStatus] ADD UNIQUE NONCLUSTERED 
(
	[StatusCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_reports_date]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [idx_reports_date] ON [dbo].[Reports]
(
	[GeneratedDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_reports_type]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [idx_reports_type] ON [dbo].[Reports]
(
	[ReportType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_restaurants_active]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [idx_restaurants_active] ON [dbo].[Restaurants]
(
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_restaurants_name]    Script Date: 03/12/2025 2:23:11 SA ******/
CREATE NONCLUSTERED INDEX [idx_restaurants_name] ON [dbo].[Restaurants]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TableSta__6A7B44FC3E67C934]    Script Date: 03/12/2025 2:23:11 SA ******/
ALTER TABLE [dbo].[TableStatus] ADD UNIQUE NONCLUSTERED 
(
	[StatusCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bills] ADD  DEFAULT (getdate()) FOR [BillTime]
GO
ALTER TABLE [dbo].[Bills] ADD  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[Bills] ADD  DEFAULT ((0)) FOR [PointsDiscount]
GO
ALTER TABLE [dbo].[Bills] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Branches] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Branches] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Branches] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[CategoryDish] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[CategoryDish] ADD  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[CategoryDish] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CategoryDish] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((0)) FOR [LoyaltyPoints]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((0)) FOR [CreditPoints]
GO
ALTER TABLE [dbo].[DiningTables] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[DiningTables] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[DiningTables] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Dishes] ADD  DEFAULT ((1)) FOR [Available]
GO
ALTER TABLE [dbo].[Dishes] ADD  DEFAULT ((0)) FOR [IsVegetarian]
GO
ALTER TABLE [dbo].[Dishes] ADD  DEFAULT ((0)) FOR [IsDailySpecial]
GO
ALTER TABLE [dbo].[Dishes] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Dishes] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Dishes] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Ingredients] ADD  DEFAULT ((0)) FOR [CurrentStock]
GO
ALTER TABLE [dbo].[Ingredients] ADD  DEFAULT ((0)) FOR [ReorderLevel]
GO
ALTER TABLE [dbo].[Ingredients] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[LoyaltyCards] ADD  DEFAULT ((0)) FOR [Points]
GO
ALTER TABLE [dbo].[LoyaltyCards] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MenuCategory] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MenuCategory] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[MenuCategory] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Menus] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Menus] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Menus] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[OrderItemIngredients] ADD  DEFAULT ((0)) FOR [IsRemoved]
GO
ALTER TABLE [dbo].[OrderItemIngredients] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[OrderItems] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderTime]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PasswordResetTokens] ADD  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[PasswordResetTokens] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[Reports] ADD  DEFAULT (getdate()) FOR [GeneratedDate]
GO
ALTER TABLE [dbo].[Restaurants] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Restaurants] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Restaurants] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD  CONSTRAINT [FK_Bills_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Bills] CHECK CONSTRAINT [FK_Bills_Customers]
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD  CONSTRAINT [FK_Bills_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Bills] CHECK CONSTRAINT [FK_Bills_Employees]
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD  CONSTRAINT [FK_Bills_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Bills] CHECK CONSTRAINT [FK_Bills_Orders]
GO
ALTER TABLE [dbo].[Branches]  WITH CHECK ADD FOREIGN KEY([RestaurantID])
REFERENCES [dbo].[Restaurants] ([RestaurantID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CategoryDish]  WITH CHECK ADD FOREIGN KEY([DishID])
REFERENCES [dbo].[Dishes] ([DishID])
GO
ALTER TABLE [dbo].[CategoryDish]  WITH CHECK ADD FOREIGN KEY([MenuCategoryID])
REFERENCES [dbo].[MenuCategory] ([MenuCategoryID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DiningTables]  WITH CHECK ADD FOREIGN KEY([BranchID])
REFERENCES [dbo].[Branches] ([BranchID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DiningTables]  WITH CHECK ADD FOREIGN KEY([StatusID])
REFERENCES [dbo].[TableStatus] ([StatusID])
GO
ALTER TABLE [dbo].[Dishes]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DishIngredients]  WITH CHECK ADD  CONSTRAINT [FK_DishIngredients_Dishes] FOREIGN KEY([DishID])
REFERENCES [dbo].[Dishes] ([DishID])
GO
ALTER TABLE [dbo].[DishIngredients] CHECK CONSTRAINT [FK_DishIngredients_Dishes]
GO
ALTER TABLE [dbo].[DishIngredients]  WITH CHECK ADD  CONSTRAINT [FK_DishIngredients_Ingredients] FOREIGN KEY([IngredientID])
REFERENCES [dbo].[Ingredients] ([IngredientID])
GO
ALTER TABLE [dbo].[DishIngredients] CHECK CONSTRAINT [FK_DishIngredients_Ingredients]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([BranchID])
REFERENCES [dbo].[Branches] ([BranchID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[EmployeeRoles] ([RoleID])
GO
ALTER TABLE [dbo].[LoyaltyCards]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MenuCategory]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[MenuCategory]  WITH CHECK ADD FOREIGN KEY([MenuID])
REFERENCES [dbo].[Menus] ([MenuID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Menus]  WITH CHECK ADD FOREIGN KEY([BranchID])
REFERENCES [dbo].[Branches] ([BranchID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItemIngredients]  WITH CHECK ADD  CONSTRAINT [FK_OrderItemIngredients_Ingredients] FOREIGN KEY([IngredientID])
REFERENCES [dbo].[Ingredients] ([IngredientID])
GO
ALTER TABLE [dbo].[OrderItemIngredients] CHECK CONSTRAINT [FK_OrderItemIngredients_Ingredients]
GO
ALTER TABLE [dbo].[OrderItemIngredients]  WITH CHECK ADD  CONSTRAINT [FK_OrderItemIngredients_OrderItems] FOREIGN KEY([OrderItemID])
REFERENCES [dbo].[OrderItems] ([ItemID])
GO
ALTER TABLE [dbo].[OrderItemIngredients] CHECK CONSTRAINT [FK_OrderItemIngredients_OrderItems]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([DishID])
REFERENCES [dbo].[Dishes] ([DishID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([StatusID])
REFERENCES [dbo].[OrderStatus] ([StatusID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([TableID])
REFERENCES [dbo].[DiningTables] ([TableID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Cashier] FOREIGN KEY([CashierID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Cashier]
GO
ALTER TABLE [dbo].[PasswordResetTokens]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([MethodID])
REFERENCES [dbo].[PaymentMethod] ([MethodID])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([StatusID])
REFERENCES [dbo].[PaymentStatus] ([StatusID])
GO
USE [master]
GO


	